/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Cabeçalho */
header {
    background: #10acec; /* Cor de fundo azul */
    color: #FFFFFF !important; /* Cor do texto branco */
    padding: 20px; /* Espaçamento interno */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espaça o logotipo e o menu */
}

.logo {
    display: flex;
    align-items: flex-end;
    font-family: 'Arial Rounded MT Bold', Arial, sans-serif; /* Fonte mais arredondada */
    font-weight: 700; /* Aumenta a espessura do texto */
    font-size: 0.85em; /* Aumenta ligeiramente o tamanho da fonte */
    margin: 0;
    line-height: 1.2; /* Ajuste a altura da linha se necessário */
}

.logo img {
    height: 100px; /* Altura da logo (ajuste conforme necessário) */
    margin-right: 10px; /* Espaçamento entre a logo e o texto */
}



/* Alinhamento dos itens do menu à direita */
nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px; /* Espaço entre os itens do menu */
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 12px;
}

/* Estilos adicionais para o submenu */

/* Estilo para o item "Sobre" e seu dropdown */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Personalização do estilo do dropdown */
.dropdown-menu {
    font-family: 'Arial Rounded MT Bold', Arial, sans-serif; /* Fonte mais arredondada */
    background-color: #ffffff; /* Cor de fundo do dropdown */
    border: 1px solid hsl(210, 50%, 90%); /* Define uma borda com cor usando HSL */
    border-radius: 8px; /* Define o arredondamento dos cantos */
    font-weight: 500 !important;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
    color: #10acec; /* Cor do texto no dropdown */
}

.dropdown-item:hover {
    background-color: #10acec; /* Cor de fundo ao passar o mouse no dropdown */
}

nav a:hover {
    background-color: #10acec;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

/* Estilos do Conteúdo da Página Aqui */

.menu {
    list-style: none;
    display: flex;
    
}

.menu-item {
    margin-right: 20px;
}

/* Adicione um contêiner para o conteúdo abaixo da navegação */
.content-container {
    max-width: 500px; /* Largura máxima do conteúdo */
    margin: 10px auto; /* Centraliza o contêiner */
}

/* Estilos adicionais para o conteúdo */

.spotify-component{
    text-align: right;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
  }
  
  footer {
    background-color: #eee7d7;
    padding: 40px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-left {
    flex: 1;
    padding-right: 20px;
  }
  
  .footer-left h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .footer-left p {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .social-links a {
    margin-right: 15px;
    text-decoration: none;
  }
  
  .social-links img {
    width: 24px;
    height: 24px;
  }
  
  .footer-about, .footer-services, .footer-other {
    flex: 1;
  }
  
  .footer-about h4, .footer-services h4, .footer-other h4 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
