body {
    background-color: #f8ecdc;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.header {
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.content {
    padding: 20px;
}

.image-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}
